# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.factorypath

# Database
*.db
*.trace.db
*.mv.db

# Environment variables
.env 